*{
    padding: 0;
    margin: 0;
}
body{
     font-family: "verdana";
}
          
h1{
    margin: 0 auto;
    text-align: center;
    color: orange;
}

h4{
    color: lawngreen; 
    text-align: center;
    margin: 0 auto;
}

.caixa-text { 

    width: 75% ;
    height: 100px ;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding:10px;
    margin-bottom: 5px;

}

.box-50 {

    width: 40%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 5px;
} 

.field {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 5px;
}
.text {
    display: flex;
    flex-direction: column;
}