/* ultima parte do cadastro */

#page-create-point {
    width: 90%;
    max-width: 1100px;
    /* alinhamento de caixa (pelo lado de fora da caixa) */
    margin: 0 auto;
}

#page-create-point header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    font-weight: 500;
    color: #121212;
    display: flex;
    align-items: center;
}

#page-create-point a span {
    margin-right: 16px;
    background-image: url(../imagens/arrow-left.svg);
    display: flex;
    width: 20px;
    height: 20px;
}

form {
    background-color: white;
    /*preenchimento interno*/
    padding: 64px;
    /*lateral arredondada */
    border-radius: 8px;
    margin-left: 170px;
    /*maxima largura */
    max-width: 730px;
    box-sizing: border-box;
   
}

form h1 {
    font-size: 36px;
    text-align: center;
}

form .segundoh1 {
    padding-top: 35px;
    font-size: 36px;
}
form fieldset {
    margin-top: 64px;
    border: 0;
}

form legend {
    margin-bottom: 40px;
}

form legend h2 {
    font-size: 24px;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    
}

form .field-group {
    display: flex;

}

form input,
form select {
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 8px;
    /* vai tirar a linha preta 
    outline: none;*/
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field {
    margin-left: 24px;
}

.bt {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt .efeito2 {
    width: 150px;
    transition: 400ms;
}

.bt .efeito2:hover {
    color: #ffffff;
    background-color: #ff4c05;
}

.items-grid {
    /*grid*/
    display: grid;
    /*colunas no grid, fr= fração, ele se ajusta deixando os itens em 3 colunas*/
    grid-template-columns: 1fr 1fr 1fr;
    /* espaçamento para o grid entre elementos chamado gap*/
    gap: 16px;
}

.items-grid li {
    background-color: #f5f5f5;
    /* tira a bolinha */
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    /*alinha os itens ao centro */
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.items-grid li span {
    color: #ffffff;
    /*para ele tenha um tamanho que preencha sozinho*/
    flex: 1;
    margin-top: 12px;
    display: flex;
    align-items: center;
    color: var(--title-color);

}

.items-grid li.selected {
    background-color: #ffffff;
    border: 3px solid #ff4c05;
}

.items-grid li img,
.items-grid li span {
/*não deixa o evento de clique acontecer */
pointer-events: none;
}

/* cadastro usuario aluno */
.items-grid2 {
    /*grid*/
    display: grid;
    /*colunas no grid, fr= fração, ele se ajusta deixando os itens em 3 colunas*/
    grid-template-columns: 1fr 1fr;
    /* espaçamento para o grid entre elementos chamado gap*/
    gap: 16px;
}

.items-grid2 li {
    background-color: #f5f5f5;
    /* tira a bolinha */
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    /*alinha os itens ao centro */
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.items-grid2 li span p {
    display: inline;
    color: #ffffff;
    /*para ele tenha um tamanho que preencha sozinho*/
    flex: 1;
    margin-top: 12px;
    display: flex;
    align-items: center;
    color: var(--title-color);

}

.items-grid2 li.selected {
    background-color: #ffffff;
    border: 3px solid #ff4c05;
}

.items-grid2 li img,
.items-grid2 li span {
/*não deixa o evento de clique acontecer */
pointer-events: none;
}


/* cadastro final aluno */
.items-grid2 {
    /*grid*/
    display: grid;
    /*colunas no grid, fr= fração, ele se ajusta deixando os itens em 3 colunas*/
    grid-template-columns: 1fr 1fr 1fr;
    /* espaçamento para o grid entre elementos chamado gap*/
    gap: 16px;
}

.items-grid2 li {
    background-color: #f5f5f5;
    /* tira a bolinha */
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    /*alinha os itens ao centro */
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.items-grid2 li span {
    color: #ffffff;
    /*para ele tenha um tamanho que preencha sozinho*/
    flex: 1;
    margin-top: 12px;
    display: flex;
    align-items: center;
    color: var(--title-color);

}

.items-grid2 li.selected {
    background-color: #ffffff;
    border: 3px solid #ff4c05;
}

.items-grid2 li img,
.items-grid2 li span {
/*não deixa o evento de clique acontecer */
pointer-events: none;
}

/* cadastro usuario aluno */
.items-grid2 {
    /*grid*/
    display: grid;
    /*colunas no grid, fr= fração, ele se ajusta deixando os itens em 3 colunas*/
    grid-template-columns: 1fr 1fr;
    /* espaçamento para o grid entre elementos chamado gap*/
    gap: 16px;
}

.items-grid2 li {
    background-color: #f5f5f5;
    /* tira a bolinha */
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    /*alinha os itens ao centro */
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.items-grid2 li span {
    color: #ffffff;
    /*para ele tenha um tamanho que preencha sozinho*/
    flex: 1;
    margin-top: 12px;
    display: flex;
    align-items: center;
    color: var(--title-color);

}

.items-grid2 li.selected {
    background-color: #ffffff;
    border: 3px solid #ff4c05;
}

.items-grid2 li img,
.items-grid2 li span {
/*não deixa o evento de clique acontecer */
pointer-events: none;
}


/*cadastro sexo do aluno */


  .progress-bar{
    /* vamos declarar nossa
      variável com o nome de
      "progress". Ela terá seu
      valor entre 0 e 100.
      */
    margin-left: 360px;
    margin-top: 100px;
    --progress: 20;
    height: 10px;
    width: 30%;
    background-color: #ff4c053b;
    display: flex;
    border-radius: 30px;
    border: none;
    
  }
  
  .progress-bar::before{
    content: "";
    /* aqui estamos chamando
      nossa variável. Como a
      largura do pseudo-elemento
      estará entre 0% e 100%, temos
      que converter o valor da nossa
      variável em porcentagem. Para
      isso, basta multiplicar por 1%.
      */
    border-radius: 30px;
    width: calc(var(--progress) * 1%);
    background-color: #ff4c05;
  }

  h4 {
      margin-top: 30px;
      text-align: center;
      font-weight: bold;
  }

  /* parte do cadastro objetivo */

  .progress-bar2{
    /* vamos declarar nossa
      variável com o nome de
      "progress". Ela terá seu
      valor entre 0 e 100.
      */
    margin-left: 360px;
    margin-top: 100px;
    --progress: 40;
    height: 10px;
    width: 30%;
    background-color: #ff4c053b;
    display: flex;
    border-radius: 30px;
    border: none;
    
  }
  
  .progress-bar2::before{
    content: "";
    /* aqui estamos chamando
      nossa variável. Como a
      largura do pseudo-elemento
      estará entre 0% e 100%, temos
      que converter o valor da nossa
      variável em porcentagem. Para
      isso, basta multiplicar por 1%.
      */
    border-radius: 30px;
    width: calc(var(--progress) * 1%);
    background-color: #ff4c05;
  }

  .items-grid3 {
    /*grid*/
    display: grid;
    /*colunas no grid, fr= fração, ele se ajusta deixando os itens em 3 colunas*/
    grid-template-rows: 1fr 1fr 1fr;
    /* espaçamento para o grid entre elementos chamado gap*/
    gap: 16px;
}

  .items-grid3 li {
    background-color: #f5f5f5;
    /* tira a bolinha */
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 100px;
    padding: 18px 28px;
    display: flex;
    flex-direction: row;
    /*alinha os itens ao centro */
    align-items: center;
    text-align: center;
    cursor: pointer;
}


.items-grid3 span {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 65px;
    font-size: 18px;
  
    color: #ffffff;
    color: var(--title-color);

}

.items-grid3 li.selected {
    background-color: #ffffff;
    border: 3px solid #ff4c05;
}

.items-grid3 li img,
.items-grid3 li span {
/*não deixa o evento de clique acontecer */
pointer-events: none;
}

/* parte do cadastro condicionamento */

.progress-bar3{
    /* vamos declarar nossa
      variável com o nome de
      "progress". Ela terá seu
      valor entre 0 e 100.
      */
    margin-left: 360px;
    margin-top: 100px;
    --progress: 60;
    height: 10px;
    width: 30%;
    background-color: #ff4c053b;
    display: flex;
    border-radius: 30px;
    border: none;
    
  }
  
  .progress-bar3::before{
    content: "";
    /* aqui estamos chamando
      nossa variável. Como a
      largura do pseudo-elemento
      estará entre 0% e 100%, temos
      que converter o valor da nossa
      variável em porcentagem. Para
      isso, basta multiplicar por 1%.
      */
    border-radius: 30px;
    width: calc(var(--progress) * 1%);
    background-color: #ff4c05;
  }

  .items-grid4 {
    /*grid*/
    display: grid;
    /*colunas no grid, fr= fração, ele se ajusta deixando os itens em 3 colunas*/
    grid-template-rows: 1fr 1fr 1fr;
    /* espaçamento para o grid entre elementos chamado gap*/
    gap: 16px;
}

.items-grid4 li {
    background-color: #f5f5f5;
    /* tira a bolinha */
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 100px;
    padding: 18px 28px;
    display: flex;
    flex-direction: row;
    /*alinha os itens ao centro */
    align-items: center;
    text-align: center;
    cursor: pointer;
}


.items-grid4 span {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
  
    color: #ffffff;
    color: var(--title-color);

}

.items-grid4 li.selected {
    background-color: #ffffff;
    border: 3px solid #ff4c05;
}

.items-grid4 li img,
.items-grid4 li span {
/*não deixa o evento de clique acontecer */
pointer-events: none;
}

/* cadastro parte detalhes */

.progress-bar4{
    /* vamos declarar nossa
      variável com o nome de
      "progress". Ela terá seu
      valor entre 0 e 100.
      */
    margin-left: 360px;
    margin-top: 100px;
    --progress: 80;
    height: 10px;
    width: 30%;
    background-color: #ff4c053b;
    display: flex;
    border-radius: 30px;
    border: none;
    
  }
  
  .progress-bar4::before{
    content: "";
    /* aqui estamos chamando
      nossa variável. Como a
      largura do pseudo-elemento
      estará entre 0% e 100%, temos
      que converter o valor da nossa
      variável em porcentagem. Para
      isso, basta multiplicar por 1%.
      */
    border-radius: 30px;
    width: calc(var(--progress) * 1%);
    background-color: #ff4c05;
  }


