:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
     /* tamanho da caixa - padrão da caixa - padding não estica mais a caixa*/
     box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body {
     
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}

/* BOX MODEL

Modelo de caixa 
Toda caixa tem 
largura, altura, espaçamentos, preenchimentos,
borda, cor, fundo, maneira que é vista pelo html (display),
posicionamento, alinhamento...

*/



