/* Laranja: #ff4c05
Verde: #47dd3b
Branco: #ffffff */

/* Botao menu */
.botao01 {
	-moz-box-shadow: 0px 10px 14px -7px #47dd3b;
	-webkit-box-shadow: 0px 10px 14px -7px #47dd3b;
	box-shadow: 0px 10px 14px -7px #47dd3b;
	/* background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffa812), color-stop(1, #62bd35) );
	background:-moz-linear-gradient( center top, #ffa812 5%, #62bd35 100% ); */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa812', endColorstr='#62bd35');
	background-color:#ff4c05;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
    text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
    height:40px;
	line-height:41px;
    width:90px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #ff4c05;
}
.botao01:hover {
	/* background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #62bd35), color-stop(1, #ffa812) );
	background:-moz-linear-gradient( center top, #62bd35 5%, #ffa812 100% ); */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62bd35', endColorstr='#ffa812');
	background-color:#47dd3b;
}.botao01:active {
	position:relative;
	top:1px;
}
* {
    padding: 0;
    margin: 0;
}
.wrapper .imge {
    height: auto;
    width: 100%;
}

body {
    color: black;
    font-family: 'roboto', sans-serif;
    max-height: 960px;
    margin: 0 auto;
}
.wrapper {
    max-width: 1366px;
    margin: 0 auto;
}
header {
    padding-top: 20px;
    padding: 0% 0% 0% 0%;
    width: 100%;
}
header .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .wrapper .menu .logo1 .logo {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
header .wrapper .menu .logo {
    height: auto;
    max-width: 130px;
    position: relative;
    top: 0px;
    padding: 6px;
    padding-right: 1%;
    padding-left: 3%;
}
header .wrapper .menu {
	list-style: none;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    height: 77%;
    margin: 0 auto;
    top: 4%;
    position: relative;
    text-transform: uppercase;
}
header .wrapper .menu-item {
    float: left;
    position: relative;
    height: 100%;
}
header .wrapper .menu-item a {
    text-decoration: none;
    font-weight: bold;
    color: orange;
    border-radius: 3px;
    display: block;
    padding: 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
header .wrapper .menu-item:hover a {
    color: lightgreen;
    background-color: orange;
}
header .wrapper .menu .sub-menu {
	z-index: 1;
	list-style: none;
    display: none;
    position: absolute;
    top: 41px;
    left: 0px;
    width: 180%;
}
header .wrapper .menu .menu-item:hover .sub-menu {
    display: block;
}
header .wrapper .menu .menu-item .sub-menu.cor li:hover a {
    background-color: green;
    color: orangered;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
section .wrapper .content.texto-destaque h1 {
	padding: 3%;
}
section .wrapper .content.texto-destaque h2 {
	padding-bottom: 3%;
}
section .wrapper .col-3 {
    width: 40%;
    margin: 0 auto;
    padding: 1px;
	margin-left: 5%;
	float: left;
}
section .wrapper .col-3 img {
    width: 100%;
	height: 350px;
	margin-bottom: 7%;
}
section .wrapper .col-3 .btns {
	text-align: center;
}

section .wrapper .col-3 .btns .efeito {
	border: none;
	color: #ffffff;
	padding: 14px;
	margin: 14px;
	font-size: 14px;
	line-height: 14px;
	border-radius: 20px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 400ms ease;
}

section .wrapper .col-3 .btns .efeito-1 {
	background: rgba(0,0,0,0);
	color: #ff4c05;
	box-shadow: inset 0 0 0 3px #ff4c05;
	margin: 2% 0% 5% 0%;
}

section .wrapper .col-3 .btns .efeito-1:hover {
	background: #ff4c05;
	color: #ffffff;
}
section .wrapper .testo {
	margin: 0 auto;
    position: relative;
    width: 75%;
    word-break: break-all;
    text-align: center;
}
section .wrapper .corpo {
	width: 100%;
	height: auto;
	margin-top: 5%;
}
section .wrapper .corpo .testo {
	margin: 0 auto;
    position: relative;
    width: 75%;
    word-break: break-all;
    text-align: center;
}
section .wrapper .corpo .caixa-nutri {
	width: 75%;
	float: left;
	padding: 1%;
	word-break: initial;
	text-align: center;
}

section .wrapper .corpo .caixa-0 {
	margin-top: 5%;
}
section .wrapper .corpo .caixa-0 img {
	width: 43%;
	float: left;
	height: 300px;
	margin: 1%;
}
section .wrapper .corpo .caixa-0 p {
	width: 55%;
    display: flex;
    word-break: break-word;
	text-align: center;
	margin: 0 auto;
}
section .wrapper .corpo .caixa-1 {
	margin-top: 5%;
}
section .wrapper .corpo .caixa-1 img {
	width: 43%;
    float: right;
    height: 300px;
	margin: 5%;
	margin-bottom: 10px;
    display: table;
}
section .wrapper .corpo .caixa-1 p {
	width: 55%;
    word-break: break-word;
	text-align: center;
}
section .wrapper .corpo .caixa-1 h1{
	display: table;
}

.header-2 {
	background-color: #ffffff;
	width: 100%;
}

.menu-1 ul li {
	display: inline-block;
	color: #ff4c05;
	margin-left: 30px;
}

.menu-1 ul li a {
	color: #ff4c05;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}

.menu-2 ul li {
	display: inline-block;
	color: #ff4c05;
	margin-left: 30px;
}

.menu-2 ul li a {
	color: #ff4c05;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
}

/* Fim do Menu */

/* Conteudo Home */


h1 { 
	margin: 0 auto;
	display: flex;
	justify-content: center;
	font-size: 50px;
	color: #ff4c05;
}

h2 {
	
	display: flex;
	justify-content: center;
	color: #47dd3b;
	
}

h3 {
	display: flex;
	justify-content: space-around;
	color: #47dd3b;
	
}
body, html {
	margin: 0;
	font: 16px "Lato", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #777;
	height: 100%;
	
}

p {
	margin-bottom: 20px;
}

.imagens-servico {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.nomes-servico  {
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.paragrafo-servicos {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

.imagens-suaforma {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.nomes-suaforma {
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.dieta  {
	padding-top: 20px;
	padding-bottom: 60px;
}

.acompanhamento {
	padding-top: 20px;
}

.avaliacao {
	padding-top: 20px;
}


.conteudo-esquerda {
	padding-top: 5px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 50px;
	padding-bottom: 25px;
}

.conteudo-paragrafo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 50px;
}

.imagem-revolucao {
	float: right;
	padding-top: 15px;
	padding-bottom: 50px;
}

.conteudo2 {
	padding-top: 100px;
}

.conteudo3 {
	padding-top: 200px;
	padding-bottom: 250px;
}
.conteudo-direita {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 50px;
	padding-bottom: 25px;
}

.imagem-avaliacao {
	float: left;
	padding-top: 12px;
	padding-bottom: 50px;
}

.h11 {
	padding-top: 80px;
	
}

.h22 {
	padding-top: 20px;
	padding-bottom: 50px;
}
/* Botão 1 */

.btns  {
	display: flex;
	
}

.botao-por-favor {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 30px;
}

.efeito2 {
	border: none;
	color: #ffffff;
	padding: 14px;
	margin: 14px;
	font-size: 14px;
	line-height: 14px;
	border-radius: 20px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 400ms ease;
}

.efeito-3 {
	background: rgba(0,0,0,0);
	color: #ff4c05;
	box-shadow: inset 0 0 0 3px #ff4c05;
	
}

.efeito-3:hover {
	background: #ff4c05;
	color: #ffffff;
}

/*Botão 2 */

.btns2 {
	text-align: center;
}

.efeito {
	border: none;
	color: #ffffff;
	padding: 14px;
	margin: 14px;
	font-size: 14px;
	line-height: 14px;
	border-radius: 20px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 400ms ease;
}

.efeito-1 {
	background: rgba(0,0,0,0);
	color: #ffffff;
	box-shadow: inset 0 0 0 3px #ffffff;
	
}

.efeito-1:hover {
	background: #ffffff;
	color: #000000;
}


/* Efeito Parallax ------*/
.caixa1, .caixa2, .caixa3, .caixa4 {
	position: relative;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.caixa1 {
	background-image: url("../imagens/bannerbemvindo.jpg");
}

.caixa2{
	background-image: url("../imagens/bannerdicas.jpg");
}

.caixa3{
	background-image: url("../imagens/bannercoronga.jpg");
}

.caixa4{
	background-image: url("../imagens/bannercoronga2.jpg")
}

.conteudo-titulo {
	position: absolute;
	left: 45%;
	top: 45%;
	color: #fff;
	padding: 18px;
	font-size: 25px;

}

.h1-dietas {
	padding-top: 20px;
	color: #fff;
	font-size: 50px;
	
}

.p-dietas {
	color: #fff;
	padding-top: 20px;
	text-align: center;
	width: 80%;
	padding-left: 60px;
	font-size: 18px;
}

.h1-cadastro {
	margin-top: 100px;
	margin-right: 450px;
	font-size: 90px;
	color: #ffffff;
	width: 100%;
	text-align: center;
}

.conteudo-dietas {
	position: absolute;
	left: 50%;
	top: 20%;
}

.conteudo-cadastro {
	position: absolute;

}
/* Fim do Home */
.fundo1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    }

.laranja {
	background-color: #ff4c05;
	width: 50%;
	height: 300px;
	padding:10px;
	border: #000000;
	border-width: 2px;
	border-style: solid;
}
.verde {
    background-color: #47dd3b;
    width: 50%;
	height: 300px;
	padding:10px;
	border: #000000;
	border-width: 2px;
	border-style: solid;
	border-left-width: 0px;
}
.fundo2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
}  
.verde2 {
    background-color: #47dd3b;
	width: 33%;
	border: #000000;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
   
}
.laranja2 {
    background-color: #ff4c05;
	width: 33%;
	border: #000000;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
    
}
.laranja3 {
    background-color: #ff4c05;
	width: 33%;
	border: #000000;
	border-width: 1px;
	border-style: solid;
	padding: 10px;

}
.title2 {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    color: #000000;
    letter-spacing: 4px;
}
.cont {
    font-size: 18px;
    color:#000000;
    text-align: left;
    line-height: 28px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.cont2 {
    font-size: 18px;
    color:#000000;
    text-align: center;
    line-height: 28px;
    font-weight: normal;
	font-family: Arial, Helvetica, sans serif;
}
 /*rodape começa aqui */

footer .wrapper .rodape {
    margin: 0 auto;
    display: flex;
    color: white;
    background-color: #47dd3b;
    bottom: 0%;
    width: 100%;
    position: initial;
}
footer .wrapper .rodape ul {
    position: absolute;
    margin: 0 auto;
}
footer .wrapper .rodape li {
    display: flex;
    flex-direction: row;
    float: left;
	padding-left: 100px;
    padding: 30px;
    width: 50px;
}
footer .wrapper .rodape ul li a {
	text-decoration: none;
	color: white;
    padding: 3%;
    position: relative;
    left: 50px;
}
footer .wrapper .rodape {
    height: 75px;
    bottom: 0%;
}
.wrapper .rodape p {
    margin: 0 auto;
    text-align: center;
    float: left;
    display: contents;
    bottom: 0%;
    z-index: 1;
}

.paragrafo-rodape {
	padding-top: 5px;
	text-align: center;
	padding-top: 10px;
	font-size: 12px;
}

.social {
	display: flex;
	flex-direction: row;
	padding-left: 1100px;
	position: relative;
	padding-top: 18px;
	
}

.face {
	padding-right: 30px;
}
.insta {
	padding-right: 30px;

}

.twitter {
	padding-right: 30px;
}

.imge {
	height: auto;
	width: 100%;
}


#exercicio {
	display: flex;
	flex-direction: row;
	align-self:  center;
	text-align: center;
	justify-content: space-around; 
	margin: 20px;
}
.barrafixa .mergulhonobanco .abdominal .pularcorda .halteres .pranchasolo {
	border: 30px;
}




.bntspa {
	text-align: center;
	margin-left: 50px;
}

.efeitopa {
	border: none;
	color: #ffffff;
	padding: 20px;
	margin: 25px;
	font-size: 20px;
	line-height: 14px;
	border-radius: 30px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
}


.efeito-pa:hover  {
  background: #47dd3b;
  color:#ffffff; 
 }

.efeito-pa {
  background: rgba(0,0,0,0);
  color: #47dd3b;
  box-shadow: inset 0 0 0 4px #47dd3b;
}



.dica-p {
	padding: 0px 0px 0px 80px; 
}


.titulo {

	font-size: 70px;
}

.titulo2 {
	font-size: 28px;
}
.texto {
	list-style-type: disc; 
	padding: 0px 0px 0px 200px;
}

/* Efeito Parallax ------*/

.caixaexercicio, .caixapa, .caixafitoterapia, .caixa-servicos {
	position: relative;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.caixaexercicio {
	background-image: url("../imagens/dica1.jpg");
}

.caixapa {
	background-image: url("../imagens/dica2.jpg");
}

.caixafitoterapia {
	background-image: url("../imagens/dica3.jpg");
}

.caixa-servicos {
	background-image: url("../imagens/bannerservicos.jpg");
}