/* ------------ menu ---------------- */
* {
    padding: 0;
    margin: 0;
}
.wrapper {
    max-width: 1366px;
    min-width: 500px;
    margin: 0 auto;
}
header {
    margin-left: 0px;
    padding-top: 20px;
    padding: 0% 0% 0% 0%;
    width: 100%;
}
header .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bloco-wrapper {
    margin-left: 70px;
}
header .wrapper .menu .logo1 .logo {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    left: 45%;
    top: 10px;
}
header .wrapper .menu .logo {
    height: auto;
    max-width: 130px;
    position: relative;
    top: 0px;
    padding: 6px;
    padding-right: 1%;
    padding-left: 3%;
}
header .wrapper .menu {
    list-style: none;
    padding: 9px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: flex-end;
    height: 77%;
    width: 100%;
    margin: 0 auto;
    top: 4%;
    position: relative;
    text-transform: uppercase;
}
header .wrapper .menu-item {
    position: relative;
    float: right;
    left: 72%;
    margin-left: 35px;
}
header .wrapper .menu-item a {
    font-size: 14px;
    display: block;
    margin-top: 25px;
    margin-bottom: 12px;
}
header .wrapper .menu-item a .bi {
    color: #ff4c05;
    height: 30px;
    width: 30px;
    display: block;
    position: static;
}
header .wrapper .menu-item a .bi:hover {
    color: #e75d26;
}
header .wrapper .menu-item.espacocombinacao {
    left: 72%;
}
header .wrapper .menu-item.espacoperfil { left: 74%;}
header .wrapper .menu-item.espacobatepapo {left: 71%;}
header .wrapper .menu-item.perfil {
    left: 5%;
    margin-top: -29px;
    position: static;
}
header .wrapper .menu-item.perfil img {
    height: 75px;
    width: 75px;
    right: 78%;
    border-radius: 39px;
    position: absolute;
}
/* ------------ menu ---------------- */

aside#filt{
    display: block;
    width: calc(35% - 170px); 
    float: right;
    padding: 3px; /* desgrudar das bordas */
 border-left: #ff4c05 2px solid;
    
}

section#combina {
    display: block;
    width: 70%;
    float: left;
    padding: 5px;  /* desgrudar das bordas */
}
/* combinação */
#combina .imagem-principal {
    width: 48%;
    margin: 0 auto;
}
#combina .imagem-principal img {
    position: relative;
    top: 15px;
    border-radius: 15px;
}
#combina .info {
    width: 45%;
    position: relative;
    top: 45px;
    margin: 0 auto;
}
#combina .info p {
    margin-bottom: 15px;
}
#combina .info button {
    width: 45%;
    height: 35px;
    margin-left: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #ff4c05;
    border: 2px solid #ff4c05;
}
#combina .info button:hover {
    background-color: #ff4c05;
    color: white;
}
body {
    color: black;
    font-family: 'roboto', sans-serif;
    max-height: 960px;
    margin: 0 auto;
}

h1 {
    color: #ff4c05;
}

.titulo {
    text-align: center;
}

.filtro {
    text-align: justify;
    margin-top: 45px;
     

}

.field, .ativi{
    margin-top: 20px;
}

.ativi {
    margin-bottom: 30px;
}

legend {
    margin-bottom: 20px;
    margin-top: 30px;
}

.button {
  background-color: #4CAF50; /* Green */
  border-radius: 8px;
  color:  black;
  padding: 9px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color:  #ff4c05; 
  border: 2px solid  #ff4c05;
}

.button1:hover {
  background-color:  #ff4c05;
  color: white;
}

.botao {
    text-align: center;
}
.corpo-div {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
/* começo section */
section #box-1 {
    border: 1px solid #333;
    box-shadow: 5px 5px #333;
}
section form input {
    width: 117px;
    position: absolute;
    top: 102%;
    z-index: 5;
    left: 41px;
}
section form {
    width: 400px;
    height: 207px;
    margin: 0 auto;
    border: 1px;
    position: absolute;
}
section #foto {
    width: 400px;
    height: 207px;
    margin: 0 auto;
    border: 1px;
    margin-left: 130px;
}
section #foto img {
    z-index: 3;
    width: 200px;
    height: 200px;
    display: flex;
    float: left;
    box-shadow: 0px 2px 2px 2px rgb(141, 141, 141);
    border-radius: 110px;
}
section #foto p {
    top: 136px;
    position: relative;
}
section #caixa1 {
    width: 100%;
    right: 1px;
    position: relative;
    height: 50px;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    box-shadow: 0px 1px 1px 1px #000;
}
section #foto p {
    margin-left: 55%;
}
section #nome {
    font-size: large;
    color: #47dd3b;
    font-weight: 900;
}
section .box-1 {
    width: 70%;
    height: 205px;
    margin: 0 auto;
    border: 1px solid #333;
    box-shadow: 0px 1px 1px 1px #000;
}
section .box-2 {
    width: 100%;
    margin: 0 auto;
    border: 1px #333;
    position: relative;
    right: 1px;
    height: 215%;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 1px 1px 1px #000;
}
section .box-2 .right-side {
    width: 49%;
    position: relative;
    list-style: none;
    float: left;
    left: 12%;
    margin-top: 15px;
}
section .box-2 .left-side{
    width: 49%;
    float: right;
    margin-top: 15px;
}
section .box-2  hr {
    width: 70%;
}
section .box-2 li {
    width: 100%;
    position: relative;
    list-style: none;
    text-decoration: none;
    float: left;
    margin-bottom: 10px;
}
section .box-2 ul li ul li {
    left: 40px;
}
/* chat */
aside {
    width: 25%;
    height: 525px;
    float: left;
   
}
aside .conversa p {
        display: flex;
        flex-direction: column;
        left: 25px;
        top: 15px;
        position: relative;
}
aside .conversa span {
    top: 25px;
    left: 25px;
    position: relative;
}
aside a {
    text-decoration: none;
}
aside .conversa img {
    float: left;
    top: -1px;
    left: 5px;
    border-radius: 50px;
    position: relative;
}
aside .conversa {
    margin-top: 0px;
    border: 2px solid #ff4c05;
    padding-bottom: 39px;
    padding-top: 8px;
    margin-bottom: 1px;
}
aside .conversa:hover {
    border: 2px solid #47dd3b;
}
main {
    width: 69%;
    float: right;
}
main .box-70 {
    width: 95%;
    margin: 0 auto;
}
main .box-70 .iconligacao {
    position: relative;
    float: right;
    right: 5%;
    top: 15%;
}
main .box-70 .iconligacao .bi {
    width: 30px;
    color: #47dd3b;
}
main .box-70 .iconligacao .bi:hover {
    color: #ff4c05;
    transition: 0.3s;
}
main #mensagem {
    width: 100%;
    height: 475px;
}
main form {
    width: 100%;
}
main input {
    width: 90%;
    height: 50px;
    font-size: 20pt;
}
main button {
    height: 53px;
    width: 50px;
    position: relative;
    top: -5px;
}
#mural .btn {
    color: white;
    background: #ff4c05;
}
#mural .btn:hover {
    background: #e75d26;
}
#mural {
    width: 80%;
    margin: 0 auto;
}