/* ------------ menu ---------------- */
* {
    padding: 0;
    margin: 0;
}
.wrapper {
    max-width: 1366px;
    margin: 0 auto;
}
header {
    margin-left: 0px;
    padding-top: 20px;
    padding: 0% 0% 0% 0%;
    width: 100%;
}
header .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #aeb9aebd;
}
.bloco-wrapper {
    margin-left: 70px;
}
header .wrapper .menu .logo1 .logo {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
header .wrapper .menu .logo {
    height: auto;
    max-width: 130px;
    position: relative;
    top: 0px;
    padding: 6px;
    padding-right: 1%;
    padding-left: 3%;
}
header .wrapper .menu {
    list-style: none;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: flex-end;
    height: 77%;
    margin: 0 auto;
    top: 4%;
    position: relative;
    text-transform: uppercase;
}
header .wrapper .menu-item {
    position: relative;
    float: left;
    left: 95%;
}
header .wrapper .menu-item a {
    text-decoration: none;
    font-weight: medium;
    color: #000;
    font-size: 14px;
    border-radius: 3px;
    display: block;
    padding: 15px;
    margin-top: 15px;
}
header .wrapper .menu-item a .bi {
    color: #ff4c05;
    height: 30px;
    width: 30px;
}

.perfil {
    margin-right: 205px;
}

/* ------------ menu ---------------- */

aside#filt{
    display: block;
    width: calc(35% - 170px); 
    float: right;
    padding: 3px; /* desgrudar das bordas */
 border-left: #ff4c05 2px solid;
    
}

section#combina {
    display: block;
    width: 280px;
    float: left;
    padding: 5px;  /* desgrudar das bordas */
   

}


body {
    color: black;
    font-family: 'roboto', sans-serif;
    max-height: 960px;
    margin: 0 auto;
}

h1 {
    color: black
}

.titulo {
    text-align: center;
}

.filtro {
    text-align: justify;
    margin-top: 45px;
     

}

.field, .ativi{
    margin-top: 20px;
}

.ativi {
    margin-bottom: 30px;
}

legend {
    margin-bottom: 20px;
    margin-top: 30px;
}

.button {
  background-color: #4CAF50; /* Green */
  border-radius: 8px;
  color:  black;
  padding: 9px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color:  #ff4c05; 
  border: 2px solid  #ff4c05;
}

.button1:hover {
  background-color:  #ff4c05;
  color: white;
}

.botao {
    text-align: center;
}


.corpo-div {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

