/* Laranja: #ff4c05
Verde: #47dd3b
Branco: #ffffff */

*, *:before, *:after { 
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}
ul, li {
    list-style: none;
}
.botao01 {
	-moz-box-shadow: 0px 10px 14px -7px #2cff19;
	-webkit-box-shadow: 0px 10px 14px -7px #2cff19;
	box-shadow: 0px 10px 14px -7px #2cff19;
	/* background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffa812), color-stop(1, #62bd35) );
	background:-moz-linear-gradient( center top, #ffa812 5%, #62bd35 100% ); */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa812', endColorstr='#62bd35');
	background-color:#ffa812;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
    text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
    height:40px;
	line-height:41px;
    width:90px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #ffae21;
}.botao01:hover {
	/* background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #62bd35), color-stop(1, #ffa812) );
	background:-moz-linear-gradient( center top, #62bd35 5%, #ffa812 100% ); */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62bd35', endColorstr='#ffa812');
	background-color:#62bd35;
}.botao01:active {
	position:relative;
	top:1px;
}

ul, li {
    list-style: none;
}
.wrapper .imge {
  margin: 0 auto;
    width: 100%;
    height: 250px;
}
body {
	background-image: url("banner.jpg");
    color: black;
    font-family: 'roboto', sans-serif;
    max-height: 960px;
    margin: 0 auto;
}
.wrapper {
    max-width: 1366px;
    margin: 0 auto;
}
header {
    padding-top: 20px;
    padding: 0% 0% 0% 0%;
    width: 100%;
}
header .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .wrapper .menu .logo1 .logo {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
header .wrapper .menu .logo {
    height: auto;
    max-width: 130px;
    position: relative;
    top: 0px;
    padding: 6px;
    padding-right: 1%;
    padding-left: 3%;
}
header .wrapper .menu {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    height: 77%;
    margin: 0 auto;
    top: 4%;
    position: relative;
    text-transform: uppercase;
}
header .wrapper .menu-item {
    float: left;
    position: relative;
    height: 100%;
}
header .wrapper .menu-item a {
    text-decoration: none;
    font-weight: bold;
    color: orange;
    border-radius: 3px;
    display: block;
    padding: 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
header .wrapper .menu-item:hover a {
    color: lightgreen;
    background-color: orange;
}
header .wrapper .menu .sub-menu {
    display: none;
    z-index: 1;
    position: absolute;
    top: 41px;
    left: 0px;
    width: 180%;
}
header .wrapper .menu .menu-item:hover .sub-menu {
    display: block;
}
header .wrapper .menu .menu-item .sub-menu.cor li:hover a {
    background-color: green;
    color: orangered;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

  
/* remove a linha dos links */
a{
  text-decoration: none;
}
  
/* esconde as ancoras da tela */
a.links{
  display: none;
}
.content{
  width: 500px;
  min-height: 560px;    
  margin: 0px auto;
  position: relative;   
}
h1{
  font-size: 48px;
  color: #47dd3b;
  padding: 2px 0 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,#47dd3b 20%,#ff4c05 53%,#47dd3b 79%,rgba(147,184,189,0) 100%); 
  background: linear-gradient(left, #ff4c05 0%,#ff4c05 20%,#47dd3b 53%,#ff4c05 79%,#ff4c05 100%); 
}
p{
  margin-bottom:15px;
}
  
.content p:first-child{
  margin: 0px;
}
  
label{
  color: #ff4c05;
  position: relative;
}
/* placeholder */
::-webkit-input-placeholder  {
  color: #bebcbc; 
  font-style: italic;
}
  
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #bebcbc;
  font-style: italic;
}
input {
  outline: none;
}
  
/*estilo dos input,  menos o checkbox */
input:not([type="checkbox"]){
  width: 95%;
  margin-top: 4px;
  padding: 10px;    
  border: 1px solid #b2b2b2;
  
  -webkit-border-radius: 3px;
  border-radius: 3px;
  
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
  
/*estilo do bot達o submit */
input[type="submit"]{
  width: 100%!important;
  cursor: pointer;  
  background: #47dd3b;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff;   
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #ff4c05;
  
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  transition: all 0.2s linear;
}
  
/*estilo do bot達o submit no hover */
input[type="submit"]:hover{
  background: #47dd3b;
}
.link{
  position: absolute;
  background: #e1eaeb;
  color: #ff4c05;
  left: 0px;
  height: 20px;
  width: 440px;
  padding: 17px 30px 20px 30px;
  font-size: 16px;
  text-align: right;
  border-top: 1px solid #dbe5e8;
  
  -webkit-border-radius: 0 0  5px 5px;
  border-radius: 0 0  5px 5px;
}
  
.link a {
  font-weight: bold;
  background: #f7f8f1;
  padding: 6px;
  color: #47dd3b;
  margin-left: 10px;
  border: 1px solid #ff4c05;
  
  -webkit-border-radius: 4px;
  border-radius: 4px;  
  
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s  linear;
}
  
.link a:hover {
  color: #47dd3b;
  background: #f7f7f7;
  border: 1px solid #ff4c05;
}
#login, 
#cadastro{
position: absolute;
top: 0px;
width: 88%;   
padding: 18px 6% 60px 6%;
margin: 0 0 35px 0;
background: #f7f7f7;
border: 1px solid #ff4c05;

border-radius: 5px;
  
-webkit-animation-duration: 0.5s;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: both;

animation-duration: 0.5s;
animation-timing-function: ease;
animation-fill-mode: both;
}

/* Efeito ao clicar no bot達o ( Ir para Login ) */
#paracadastro:target ~ .content #cadastro,
#paralogin:target ~ .content #login{
z-index: 2;
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;

-webkit-animation-delay: .1s;
animation-delay: .1s;
}
/* Efeito ao clicar no bot達o ( Cadastre-se ) */
#registro:target ~ .content #login,
#paralogin:target ~ .content #cadastro{
-webkit-animation-name: fadeOutLeft;
animation-name: fadeOutLeft;
}
/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
  
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
  
/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}
  
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
